Output.txt
informe/InformeTP2.aux
informe/InformeTP2.log
informe/InformeTP2.out
informe/InformeTP2.pdf
informe/InformeTP2.synctex.gz
informe/InformeTP2.toc
informe/secciones/introduccion.log
thompsonValues.pyc